div{
    color: black;
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color:white;
}