*{
   margin: 0px;
   padding: 0px;
   
}

body{
    background-color:#9F8170;
    text-align: center;
}

.container{
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}


.game{
   height: 60vmin;  /* vmin : 1% of viewport's smaller dimension dimension */
   width: 60vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5vmin;
    box-shadow: 0 0 1rem rgba(0 , 0 , 0 , 0.3);
    border: none;
    font-size: 8vmin;
    color:purple;
    cursor: pointer;
    background-color:rgb(227, 236, 241);

}

.reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #283618;
    color: rgb(212, 210, 207);
    border-radius: 1.5vmin;
    border: none;
}

.new-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color:#606c38;
    color: rgb(212, 210, 207);
    border-radius: 1.5vmin;
    border: none;
}

#msg{
    font-weight: 800;
    font-size: 60px;
}

.msg-container{
    height: 40vmin;
}

.hide{
    display: none;
}